.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}

.logo-section {
    display: flex;
    align-items: flex-start;
}

.logo {
    background-color: #6c63ff; /* Use the purple color for the logo background */
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 10px;
}

.brand h1 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}

.brand p {
    margin: 0;
    font-size: 0.8rem;
    color: #ccc;
}

.nav-links {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    align-content: center;
    align-items: center;
    align-self: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;

}

.nav-links a:hover {
    background-color: #333;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: right;
    justify-items: flex-end;
}

.login-button {
    background-color: #333;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.try-free-button {
    background-color: #fff;
    color: #000;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #6C63FF;
    color: #ffffff;
    scale: 1.075;
}
.try-free-button:hover {
    opacity: 0.8;
    scale: 1.075;
}
@media (max-width: 1000px) {
    .nav-links {display: block;
    flex-direction: column;
    margin-right: 200px;
    }
}
@media (max-width: 875px) {
    .header{display: flow}
    .logo-section {display: none;}
    .nav-links {
        position: fixed;
        left: 25%;
    }


}
@media (max-width: 600px) {
    .header {
        display: flex
    }
    .logo-section {
        display: none;
    }
    .action-buttons{display: none}

    .nav-links {
        position: relative;
        left: 50%;
    }

}