.news-item {
    background-color: #333; /* Dark grey background */
    color: #f9f9f9; /* Light text for contrast */
    border: 1px solid #444; /* Subtle border for structure */
    border-radius: 5px; /* Rounded corners */
    padding: 15px;
    margin: 0 auto; /* Center the item horizontally */
    max-width: 80%; /* Limit width to 80% */
    min-width: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.news-item.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to its original position */
}


.news-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    color: #8c6eff;
}

.news-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

.news-date,
.news-author {
    font-size: 0.9rem;
    color: #bbb; /* Slightly dimmed color for secondary info */
}
