.under-hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1x4 grid layout */
    gap: 20px;
    padding: 20px;

}

.register-prompt {
    display: flex;
    align-items: center;
        padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}